/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS properties */
:root {
    --sectheight: 641px;
    --contheight:
}

/* Utils */
.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* Header */

header {
    display: flex;
    height: 100px;
    background-color: aquamarine;
    align-items: center;
}

.header.container {
    flex-basis: 100%;
    display: flex;
    background-color: orange;
    height: 60%;


}

.header-item {
    display: flex;
    align-items: center;
    border: 1px dashed black;
}

.side-header {
    flex-basis: calc(1080px * 0.2);
}

.header-item:not(.side-header) {
    flex-basis: calc(1080px * 0.6);
    justify-content: center;
}

.side-header:last-of-type {
    justify-content: flex-end;
}

.header-item>* {
    margin: 20px;
}

/* Jumbotron */

#jumbotron {
    height: 541px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jumbo-content {
    background-color: palevioletred;
    height: 80%;
    flex-basis: 50%;
}

/* MAIN */
.primary-section {
    height: var(--sectheight);
    display: flex;
    align-items: center;
}

.primary-section:nth-of-type(odd) {
    background-color: white;
}

.primary-section:nth-of-type(even) {
    background-color: lightgrey;
}

.small-content {
    background-color: pink;
    flex-basis: calc(1080px * 0.4);
}

.large-content {
    background-color: lightslategray;
    flex-basis: calc(1080px * 0.6);
}

.primary-section>.container {
    height: 80%;
    display: flex;
    width: 1080px;
}

.primary-section:last-of-type {
    height: 1282px;
}

.primary-section:last-of-type>.container {
    background-color: green;
}